body {
	margin: 0;
}

header {
	border: solid;
	background-color: slategray;
	width: 99%;
	position: sticky;
	top: 0;
	margin: 0px;
	padding: 0;
}

h1 {
	margin-left: 1em;
}

nav ul {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	background-color: black;
	height: 2em;
	align-items: center;
	margin: 0;
	padding: 0;
	height: inherit;
	min-height: 2Sem;
}

main {
	margin-top: 0;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

h2 {
	margin-left: 1em;
}

.product_list_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 99%;
}

.product_list_container div {
	width: 30%;
	margin: .2em;
}

.product_list_container div div {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.product_list_container2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 99%;
}

.product_list_container2 div {
	width: 30%;
	margin: .2em;
}

.product_list_container2 div div {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

h4 {
	margin-top: 0;
	height: 2em;
}

img {
	width: 100%;
}

h5 {
	margin-bottom: 0;
	margin-top: .5em;
	margin-left: 1em;
}

button {
	margin-left: 1.6em;
}

.specs {
	display: block;
}

.specs div {
	margin-left: 2em;
}

.button {
	background-color: slategray;
	color: white;
	padding: 12px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 2.2em;
	margin-left: 1.5em;
}

button {
	background-color: slategray;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: darkslategray;
}

.hide {
	display: none;
}

.show {
	display: block;
}

footer {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	background-color: slategray;
}

.links {
	width: 52vw;
	text-align: left;
}

p {
	margin: 0.5em 1em
}


/*Contact page*/

#first {
	width: 100%;
	padding: 12px;
	border: 1px solid slategray;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

#last {
	width: 100%;
	padding: 12px;
	border: 1px solid slategray;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

textarea {
	width: 100%;
	height: 200px;
	padding: 12px;
	border: 1px solid slategray;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: slategray;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}


/*contact page end*/

input[type=submit]:hover {
	background-color: darkslategray;
}

@media (max-width: 600px) {
	h1 {
		text-align: center
	}
	.product_list_container div {
		width: 48%;
	}
	.product_list_container2 div {
		width: 48%;
	}
}

@media (max-width: 345px) {
	header {
		height: 7.2em;
	}
	main {
		margin-top: 3.7em;
	}
	nav ul {
		flex-wrap: wrap;
	}
	nav ul li {
		margin: 5px;
	}
	@media (max-width: 320px) {
		.product_list_container div {
			width: 100%;
		}
		.product_list_container2 div {
			width: 100%;
		}
	}
